.profile-wrapper {
  aspect-ratio: 1/1;
  height: 3rem;
  margin: 1rem;
}
.profile-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.home-wrapper {
  height: 80%;
  flex: 1;
  display: flex;
}
.home-element {
  flex: 1;
  display: flex;
  position: relative;
  z-index: 10;
  background-color: black;
}
.home-element h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  transition: all 0.5s ease;
}
#single-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-size: cover;
  background-position: center;
}
#single-menu:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/public/SingleCloud.png");
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}
#multi-menu {
  background-size: cover;
  background-position: center;
}
#multi-menu:hover {
  background-size: cover;
  background-position: center;
}
.image-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.image-wrapper img {
  object-fit: cover;
}
#social-menu:hover {
  background-size: cover;
  background-position: center;
}
